.container
    .navbar
        .container
            .navbar-header
                .navbar-brand Visits
            .navbar-collapse.collapse
                ul.nav.navbar-nav.pull-left
                    li
                        a.btn.btn-md(href="/families/{{family._id}}") Family
                ul.nav.navbar-nav.pull-right
                    li
                        input.form-control(ng-model="searchText", placeholder="Filter")
                    li
                        select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")


    form.form-horizontal(name="familyVisitsForm")
        .well.well-sm
            fieldset
                .form-group
                    label.col-md-1.control-label
                    .col-md-5
                        p.form-control-static {{family.primaryClient.lastName + ', ' + family.primaryClient.firstName}}
                    .col-md-6
                        p.form-control-static {{family.phone1 | tel}}
                .form-group
                    label.col-md-1.control-label
                    .col-md-5
                        p.form-control-static {{family.address1 + ', ' + family.city + ', ' + family.province }}
                    .col-md-6
                        p.form-control-static {{family.postal }}
        .form-group
            span
        .form-group
            .col-md-12
                button.btn.btn-md(ng-click="addVisit()") Add Visit
        .form-group
                .col-md-12
                    table.table.table-condensed
                        thead
                            tr
                                th.col-md-2 Client
                                th.col-md-2 Date
                                th Value
                                th Store Voucher
                                th Reusable Bag Given
                                th Comments
                                th Verification
                                th Food Voucher
                                th Approved By
                        tbody
                            tr(ng-repeat="visit in family.visits | filter:searchText | orderBy:sortOrder:reverseOrder()")
                                td
                                    select.form-control(name="visitClient", ng-model="visit.client" ng-options="client.lastName + ', ' + client.firstName  for client in family.clients track by client._id" ng-disabled="visit._id != 0" required)
                                td
                                   input.form-control(ng-value="visit.date | date" readonly)
                                td
                                    input.form-control(name="visitValue" ng-model="visit.value" ng-disabled="visit._id != 0" pattern="\\d+(\\.\\d{2})?")
                                td
                                    input.form-control(name="visitStoreVoucher" ng-model="visit.storeVoucher" ng-disabled="visit._id != 0" )
                                td
                                    input.input-sm(name="visitReusableBagGiven" type="checkbox" ng-model="visit.reusableBagGiven" )
                                td
                                    input.form-control(name="visitComments" ng-model="visit.comments" )
                                td
                                    input.form-control(name="visitVerification" ng-model="visit.verification" required)
                                td
                                    input.form-control(name="visitFoodVoucher" ng-model="visit.foodVoucher" ng-disabled="visit._id != 0")
                                td
                                    input.form-control(name="visitApprovedBy" ng-model="visit.approvedBy" ng-disabled="visit._id != 0")
                                td
                                    button.btn.btn-sm(ng-click="removeVisit(visit)" ng-show="visit._id == 0") X
                        tfoot
                            tr
                                td
                                td
                                td
                                td
                                td
                                td
                                td
                                    span.error(ng-show="familyVisitsForm.visitVerification.$touched && familyVisitsForm.visitVerification.$error.required") Please provide Verification.
                                td
                                td
                                td
            .form-group
                .col-md-4.col-md-offset-8
                    .pull-right
                        button.btn.btn-primary(ng-click="saveVisits()", ng-disabled="!canSave()") Submit
                        | &nbsp;
                        button.btn.btn-default(ng-click="cancel()", ng-disabled="!canCancel()") Cancel


//
//var visitSchemazzz = mongoose.Schema({
//    date: {type: Date, required: '{PATH} is required!'},
//    value: {type: Number },
//    storeVoucher: {type: String },
//    reusableBagGiven: {type: Boolean },
//    comments: {type: String },
//    verification: {type: String, required: '{PATH} is required!'},
//    foodVoucher: {type: String },
//    approvedBy: {type: String },
//    client : { type: mongoose.Schema.ObjectId, ref: 'Client' }
//});