.container
    ul.nav.nav-pills.pull-left
        li.col-xs-6
            .navbar-brand Visits
        li.col-xs-6
            a.btn.btn-md(href="/families/{{family._id}}") Family
    ul.nav.nav-pills.pull-right
        li.col-xs-6
            input.form-control(ng-model="searchText", ng-model-options="{ debounce: 250 }" placeholder="Filter by Name")
        li.col-xs-6
            select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
.container.container-topmargin
    form.form-horizontal(name="familyVisitsForm")
        .well.well-sm
            fieldset
                .form-group
                    .col-xs-5
                        p.form-control-static {{family.primaryClient.lastName + ', ' + family.primaryClient.firstName}}
                    .col-xs-6
                        p.form-control-static {{family.phone1 | tel}}
                .form-group
                    .col-xs-5
                        p.form-control-static {{family.address1 + ', ' + family.city + ', ' + family.province}}
                    .col-xs-6
                        p.form-control-static {{family.postal}}
        .form-group
            span
        .form-group
            .col-sm-12
                button.btn.btn-sm.btn-primary(ng-click="showAddVisit()") Add Visit
.container.gridframe
    table.table.table-hover.table-condensed.table-rowspace.hide-loading
        thead
            tr
                th Client
                th Date
                th.hidden-xs Value
                th.hidden-xs Store Voucher
                th.hidden-xs Reusable Bag Given
                th.hidden-xs Comments
                th Verification
                th.hidden-xs Food Voucher
                th.hidden-xs Approved By
        tbody.solidback
            tr.selectable-row(ng-repeat="visit in family.visits | orderBy:sortOrder:reverseOrder() | pageSlice:pageSize:currentPage | filter:searchText" ng-click="editVisit(visit)")
                td
                    span {{visit.client.lastName + ', ' + visit.client.firstName}}
                td
                    span {{visit.date | date}}
                td.hidden-xs
                    span {{visit.value | currency}}
                td.hidden-xs
                    span {{visit.storeVoucher}}
                td.hidden-xs
                    span {{visit.reusableBagGiven}}
                td.hidden-xs
                    span {{visit.comments}}
                td
                    span {{visit.verification.firstName}}
                td.hidden-xs
                    span {{visit.foodVoucher}}
                td.hidden-xs
                    span {{visit.approvedBy.firstName}}
    nav.nav-sm
        ul.pagination.pagination-sm
            li
                a(href="#" aria-label="Previous" ng-click="firstPage()")
                    span.glyphicon.glyphicon-step-backward
            li(ng-repeat="pageIndex in visitPages()")
                a(href="#" ng-click="setPage(pageIndex)")
                    span {{pageIndex}}
            li
                a(href="#" aria-label="Previous" ng-click="lastPage()")
                    span.glyphicon.glyphicon-step-forward

