body
  padding-top: 60px

a
  color: #337ab7

input[type="checkbox"]
  font-size: 3em
  margin-right: 5px

.lg-label
  font-size: 20px
  padding: 10px 15px

footer.fixed-bottom
  bottom:0px
  height: 20px
  z-index: 1234
  position: fixed
  text-align: left
  padding-left:10px
  width:100%
  background-color: #f8f8f8

footer a
  font-size:.8em

span.glyphicon.showhide-triangle
  padding-left: 3px
  top: 2px

span.glyphicon.glyphicon-option-horizontal.low
  top:10px

table.table-hover
  cursor:pointer;

.nav, .pagination, .carousel, .panel-title a
  cursor: pointer

