body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
input[type="checkbox"] {
  font-size: 3em;
  margin-right: 5px;
}
.lg-label {
  font-size: 20px;
  padding: 10px 15px;
}
