extends ../includes/layout

block main-content
    .navbar.navbar-default.navbar-collapse
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(id="mainnav-button" data-toggle="collapse" data-target="#main-navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/")  Aliment

            .collapse.navbar-collapse(id="main-navbar")
                ul.nav.navbar-nav
                    li.hidden-xs
                        a(href="/") Home
                    li.visible-xs(data-toggle="collapse" data-target="#main-navbar")
                        a(href="/") Home

                    li.hidden-xs
                        a(href="/families") Families
                    li.visible-xs(data-toggle="collapse" data-target="#main-navbar")
                        a(href="/families") Families

                    li.hidden-xs
                        a(href="/clients") Clients
                    li.visible-xs(data-toggle="collapse" data-target="#main-navbar")
                        a(href="/clients") Clients
                div(ng-include="'/partials/account/navbar-login'")

    section.content
        div.reveal-view-animate(ng-view)
