.container
    .well
        form.form-horizontal(name="userForm")
            fieldset
                legend User Details
                .form-group
                    label.col-md-2.control-label(for="userName") User name
                    .col-md-10
                        input.form-control(name="userName", type="text", placeholder="User name", ng-model="user.userName", required)
                .form-group
                    label.col-md-2.control-label(for="firstName") First Name
                    .col-md-10
                        input.form-control(name="firstName", type="text", placeholder="First Name", ng-model="user.firstName", required)
                .form-group
                    label.col-md-2.control-label(for="lastName") Last Name
                    .col-md-10
                        input.form-control(name="lastName", type="text", placeholder="Last Name", ng-model="user.lastName", required)
                .form-group
                    label.col-md-2.control-label(for="role") Role
                    .col-md-10
                        select.form-control(name="role", ng-model="user.roles[0]" required invalid-leave)
                            option(ng-repeat='role in roles', ng-selected="staff") {{role}}
                .form-group
                    label.col-md-2.control-label(for="password") Password
                    .col-md-10
                        input.form-control(name="password", type="password", placeholder="Password", ng-model="user.password")
                .form-group
                    label.col-md-2.control-label(for="verifyPassword") Verify Password
                    .col-md-10
                        input.form-control(name="verifyPassword", type="password", placeholder="Verify Password", ng-model="verifyPassword")
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-primary(ng-click="update()", ng-disabled="signupForm.$invalid") Submit
                            | &nbsp;
                            a.btn.btn-default(href="/admin/users/") Cancel
