.container.container-topmargin
    ul.ul.nav.nav-pills.pull-left
        li.col-sm-12.pull-left
            .navbar-brand Users
    ul.ul.nav.nav-pills.pull-right
        li.col-sm-12
            a.btn.btn-md(href="/admin/users/new" ng-click="new()") New
.container
    table.table.table-hover.table-condensed
        tr.selectable-row(ng-repeat="user in users" ng-click="userRowClick(user._id)")
            td {{user.firstName + ' ' + user.lastName}}