.container
    .navbar(style="z-index: 900")
        .navbar-header
            .navbar-brand Users
        .navbar-collapse
            ul.nav.navbar-nav.pull-left
                li
                    a.btn.btn-md(href="/admin/users/new" ng-click="new()") New

    table.table.table-hover.table-condensed
        tr.selectable-row(ng-repeat="user in users" ng-click="userRowClick(user._id)")
            td {{user.firstName + ' ' + user.lastName}}