doctype html
html
  head
    title= title
    link(href="/favicon.gif", rel="shortcut icon", type="image/gif")
    link(rel='stylesheet', href='/stylesheets/style.css')
    line(rel='stylesheet', href='/public/vendor/bootstrap/dist/css/bootstrap.css')

  body
    block content

    include scripts