doctype html
html
  head
    title= title
    link(href="/favicon.gif", rel="shortcut icon", type="image/gif")
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body(ng-app='app')
    block main-foo

    include scripts