script(type="text/javascript" src='/public/vendor/jquery/dist/jquery.min.js')
script(type="text/javascript" src='/public/vendor/bootstrap/dist/js/bootstrap.min.js')
script(type="text/javascript" src='/public/vendor/angular/angular.min.js')
script(type="text/javascript" src='/public/vendor/angular-resource/angular-resource.min.js')
script(type="text/javascript" src='/public/vendor/angular-route/angular-route.min.js')
