doctype
html
    head
        title Aliment
        meta(name="viewport" content="width=device-width")
        base(href="/")
        link(href="favicon.gif", rel="shortcut icon", type="image/gif")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        //link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap-theme.css")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/lavish-bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/bootstrap-aliment.css")
        link(rel="stylesheet", href="/css/site.css")
        //link(rel="stylesheet", href="/css/view-animate.css")


    body(ng-app='app')
        include currentUser
        block main-content
        include scripts

footer.fixed-bottom
    a(href="/") Todd Bellamy, 2014
