.container
    ul.nav.nav-pills.pull-left
        li.col-xs-6
            .navbar-brand Families
        li.col-xs-6
            a.btn.btn-md(href="/families/new" ng-click="new()") New
    ul.nav.nav-pills.pull-right
        li.col-xs-6
            input.form-control(ng-model="searchText", ng-model-options="{ debounce: 500 }", placeholder="Filter by Last Name")
        li.col-xs-6
            select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
.container.gridframe
    table.table.table-hover.table-condensed.table-rowspace.hide-loading(rowspacing="3px" ng-hide="tableDataLoading")
        thead
            tr
                th Primary Contact
                th.hidden-xs Phone
                th Address
                th City
                th.hidden-xs Postal
                th.hidden-xs Date Added
        tbody.solidback
            tr.selectable-row(ng-repeat="family in families | filter:searchText | orderBy:sortOrder" ng-click="familyRowClick(family._id)")
                td
                    span {{family.primaryClient.lastName + ', ' + family.primaryClient.firstName }}
                td.hidden-xs
                    span {{family.phone1 | tel}}
                td
                    span {{family.address1 + '  ' + family.address2}}
                td
                    span {{family.city}}
                td.hidden-xs
                    span {{family.postal | postal}}
                td.hidden-xs
                    span {{family.dateAdded | date}}
.container
    pagination.pagination-sm.hide-loading(ng-hide="tableDataLoading" total-items="pageTotalItems" items-per-page="itemsPerPage" ng-model="currentPage" max-size="pageMaxSize" boundary-links="true" rotate="false" num-pages="numPages" ng-change="loadFamilies()")


