.container
    .navbar.navbar-form.navbar-collapse(style="z-index: 900")
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#secondary-navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-brand Family
            .collapse.navbar-collapse(id="secondary-navbar")
                ul.nav.navbar-nav.pull-left
                    li
                        a.btn.btn-md(ng-click="new()") New
                    li
                        a.btn.btn-md(href="/visits/{{family._id}}") Visits
    .well.well-sm
        form.form-horizontal(name="familyForm")
            fieldset
                .form-group
                    label.col-sm-2.control-label(for="primaryClient") Primary Contact
                    .col-sm-10
                        select.form-control(name="primaryClient", ng-model="family.primaryClient" ng-options="client.lastName + ', ' + client.firstName  for client in family.clients track by client._id" required invalid-leave)
                        span.error(ng-show="familyForm.primaryClient.$touched && familyForm.primaryClient.$error.required") Please provide a Primary Contact.
                .form-group
                    label.col-sm-2.control-label
                    .col-sm-10
                        button.btn.btn-sm(ng-click="addContact()") Add Contact
                .form-group
                    label.col-sm-2.control-label(ng-click="toggleContacts()") Contacts
                        span.glyphicon.showhide-triangle(ng-class="showContactsTriangle")
                    .col-sm-10
                        span.glyphicon.glyphicon-option-horizontal.low(ng-show="!showContacts" ng-click="toggleContacts()")
                        table.table.table-condensed.animate-show(ng-show="showContacts")
                            thead
                                tr
                                    th Last Name
                                    th First Name
                                    th Date of Birth
                            tbody
                                tr(ng-repeat="client in family.clients")
                                    td
                                        input.form-control(name="clientLastName" ng-model="client.lastName" required invalid-leave)
                                    td
                                        input.form-control(name="clientFirstName" ng-model="client.firstName" required invalid-leave)
                                    td
                                        input.form-control(name="clientDateOfBirth" type="date" ng-model="client.dateOfBirth" date-of-birth="", required invalid-leave)
                                    td(style="border:none")
                                        button.btn.btn-xs(ng-click="removeContact(client)" ng-show="client._id == 0")
                                            span.glyphicon.glyphicon-remove
                            tfoot
                                tr
                                    td
                                        span.error(ng-show="familyForm.clientLastName.$touched && familyForm.clientLastName.$error.required") Please enter a Last Name
                                    td
                                        span.error(ng-show="familyForm.clientFirstName.$touched && familyForm.clientFirstName.$error.required") Please enter a First Name.
                                    td
                                        span.error(ng-show="familyForm.clientDateOfBirth.$touched && familyForm.clientDateOfBirth.$error.required") Please enter a Date Of Birth.
                                        span.error(ng-show="familyForm.clientDateOfBirth.$error.dob") Date of Birth must be within past 120 years.
                .form-group
                    label.col-sm-2.control-label(for="dateAdded") Date Added
                    .col-sm-4
                        input.form-control(name="dateAdded", type="date", placeholder="Date Added", ng-model="family.dateAdded" readonly)
                    label.col-sm-2.control-label(for="familyStatus") Family Status
                    .col-sm-4
                        select.form-control(name="familyStatus", ng-model="family.familyStatus")
                            option(ng-repeat='status in familyStatuses', ng-selected="Family") {{status}}
                .form-group
                    label.col-sm-2.control-label(for="address1") Address 1
                    .col-sm-4
                        input.form-control(name="address1", type="text", placeholder="Address Line 1", ng-model="family.address1", required invalid-leave)
                        span.error(ng-show="familyForm.address1.$touched && familyForm.address1.$error.required") Please enter Address Line 1.
                    label.col-sm-2.control-label(for="address2") Address 2
                    .col-sm-4
                        input.form-control(name="address2", type="text", placeholder="Address Line 2", ng-model="family.address2")
                .form-group
                    label.col-sm-2.control-label(for="city") City
                    .col-sm-4
                        input.form-control(name="city", type="text", placeholder="City", ng-model="family.city", required invalid-leave)
                        span.error(ng-show="familyForm.city.$touched && familyForm.city.$error.required") Please enter City.
                    label.col-sm-2.control-label(for="province") Province
                    .col-sm-4
                        select.form-control(name="province", ng-model="family.province" ng-options="prov for prov in provinceCodes")
                .form-group
                    label.col-sm-2.control-label(for="postal") Postal Code
                    .col-sm-4
                        input.form-control(name="postal", type="text", ng-model="family.postal", ui-mask="A9A 9A9" required invalid-leave)
                        span.error(ng-show="familyForm.postal.$touched && (familyForm.postal.$error.required || familyForm.postal.$error.pattern)") Please enter a valid Postal Code.
                    label.col-sm-2.control-label(for="phone1") Phone Number
                    .col-sm-4
                        input.form-control(name="phone1", type="text", ng-model="family.phone1", ui-mask="(999) 999-9999" required invalid-leave)
                        span.error(ng-show="familyForm.phone1.$touched && (familyForm.phone1.$error.required || familyForm.phone1.$error.pattern)") Please enter a valid phone number (999) 999-9999).
                .form-group
                    label.col-sm-2.control-label(for="totalMonthlyExpenses") Monthly Expenses
                    .col-sm-4
                        input.form-control(name="totalMonthlyExpenses", type="text", placeholder="Total Monthly Expenses", ng-model="family.totalMonthlyExpenses", smart-float, required invalid-leave)
                        span.error(ng-show="familyForm.totalMonthlyExpenses.$touched && (familyForm.totalMonthlyExpenses.$error.required || familyForm.totalMonthlyExpenses.$error.float)") Please enter valid Total Monthly Expenses.
                    label.col-sm-2.control-label(for="totalMonthlyIncome") Monthly Income
                    .col-sm-4
                        input.form-control(name="totalMonthlyIncome", type="text", placeholder="Total Monthly Income", ng-model="family.totalMonthlyIncome", smart-float, required invalid-leave)
                        span.error(ng-show="familyForm.totalMonthlyIncome.$touched && (familyForm.totalMonthlyIncome.$error.required || familyForm.totalMonthlyIncome.$error.float)") Please enter valid Total Monthly Income.
                .form-group-md
                    .col-md-4.col-md-offset-1
                        .checkbox
                            label
                                input.input-sm(type="checkbox", name="proofOfIncomeProvided", ng-model="family.proofOfIncomeProvided")
                                | Proof of Income Provided
                    .col-md-4
                        .checkbox
                            label
                                input.input-sm(type="checkbox", name="proofOfExpensesProvided", ng-model="family.proofOfExpensesProvided")
                                | Proof of Expenses Provided
                    .col-md-3
                        .checkbox
                            label
                                input.input-sm(type="checkbox", name="proofOfAddressProvided", ng-model="family.proofOfAddressProvided")
                                | Proof of Address Provided
                .form-group
                .form-group
                    label.col-sm-2.control-label(for="registeredDate") Registered Date
                    .col-sm-4
                        .input-group
                            input.form-control(name="registeredDate", type="date", placeholder="Registered Date", ng-model="family.registeredDate", readonly)
                            span.btn.input-group-addon(ng-really-message="Set Registration Date?" ng-really-click="registerFamily()" title="Register Family")
                                span.glyphicon.glyphicon-pencil
                    .col-sm-4
                .form-group
                    .col-sm-6.col-sm-offset-2
                        button.btn.btn-primary(ng-click="new()", ng-disabled="canCancel()") New
                    .col-sm-4
                        .pull-right
                            button.btn.btn-primary(ng-click="save()", ng-disabled="!canSave()") Submit
                            | &nbsp;
                            button.btn.btn-default(ng-click="cancel()", ng-disabled="!canCancel()") Cancel
