.container.top-padding-med
    .navbar
        .navbar-header
            .navbar-brand Families
        .navbar-collapse.collapse
            ul.nav.navbar-nav.pull-left
                li
                    a.btn.btn-md(href="/families/new" ng-click="new()") New
            ul.nav.navbar-nav.pull-right
                li
                    input.form-control(ng-model="searchText", ng-model-options="{ debounce: 500 }", placeholder="Filter by Last Name")
                li
                    select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")

    table.table.table-hover.table-condensed
        thead
            tr
                th Primary Contact
                th Phone
                th Address
                th City
                th Postal
                th Date Added
        tbody
            tr.selectable-row(ng-repeat="family in families | filter:searchText | orderBy:sortOrder" ng-click="familyRowClick(family._id)")
                td
                    span {{family.primaryClient.lastName + ', ' + family.primaryClient.firstName }}
                td
                    span {{family.phone1 | tel}}
                td
                    span {{family.address1 + ', ' + family.address2}}
                td
                    span {{family.city}}
                td
                    span {{family.postal | postal}}
                td
                    span {{family.dateAdded | date}}
    pagination.pagination-sm(total-items="pageTotalItems" items-per-page="itemsPerPage" ng-model="currentPage" max-size="pageMaxSize" boundary-links="true" rotate="false" num-pages="numPages" ng-change="loadFamilies()")


