.container
    ul.nav.nav-pills.pull-left
        li.col-sm-11
            .navbar-brand Clients
    ul.nav.nav-pills.pull-right
        li.col-sm-5
            input.form-control(ng-model="searchText", ng-model-options="{ debounce: 500 }" placeholder="Filter by Last Name")
        li.col-sm-5
            select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
.container.gridframe
    table.table.table-hover.table-condensed.hide-loading(ng-hide="tableDataLoading")
        thead
            tr
                th Name
                th Date of Birth
                th Family Address
        tbody
            tr.selectable-row(ng-repeat="client in clients" ng-click="clientRowClick(client._id)")
                td
                    span {{client.lastName + ', ' + client.firstName}}
                td
                    span {{client.dateOfBirth | date}}
                td
                    span {{client.family.address1 + ', ' + client.family.city}}
.container
    pagination.pagination-sm(total-items="pageTotalItems" items-per-page="itemsPerPage" ng-model="currentPage" max-size="pageMaxSize" boundary-links="true" rotate="false" num-pages="numPages" ng-change="loadClients()")
