.container
    ul.nav.nav-pills.pull-left
        li.col-sm-11
            .navbar-brand Client
    ul.nav.nav-pills.pull-right
        li.col-sm-6
            a.btn.btn-md(href="/families/{{client.family}}") Family
        li.col-sm-6
            a.btn.btn-md(href="/visits/{{client.family}}") Visits
.container
    .well.well-sm
        form.form-horizontal(name="clientForm")
            fieldset
                .form-group
                    label.col-md-2.control-label(for="lastName") Last Name
                    .col-md-4
                        input.form-control(name="lastName", type="text", placeholder="Last Name", ng-model="client.lastName", invalid-leave required)
                        span.error(ng-show="clientForm.lastName.$dirty && clientForm.lastName.$error.required") Please enter a Last Name.
                .form-group
                    label.col-md-2.control-label(for="firstName") First Name
                    .col-md-4
                        input.form-control(name="firstName", type="text", placeholder="First Name", ng-model="client.firstName", invalid-leave required)
                        span.error(ng-show="clientForm.firstName.$dirty && clientForm.firstName.$error.required") Please enter a First Name.
                .form-group
                    label.col-md-2.control-label(for="dateOfBirth") Date Of Birth
                    .col-md-4
                        input.form-control(name="dateOfBirth", type="date", placeholder="Date Of Birth", ng-model="client.dateOfBirth", date-of-birth="", invalid-leave required)
                        span.error(ng-show="clientForm.dateOfBirth.$error.dob") Date of Birth must be within past 120 years.
                        span.error(ng-show="clientForm.dateOfBirth.$dirty && clientForm.dateOfBirth.$error.required") Please enter a Date Of Birth.

                .form-group
                    .col-md-6.col-md-offset-2
                        //button.btn.btn-primary(ng-click="new()", ng-disabled="canCancel()") New
                    .col-md-4
                        .pull-right
                            button.btn.btn-primary(ng-click="save()", ng-disabled="!canSave()") Submit
                            | &nbsp;
                            button.btn.btn-default(ng-click="cancel()", ng-disabled="!canCancel()") Cancel
