.container
    .jumbotron.main
        image.spoon-image(src='../content/images/SpoonOne.png')
        h1 Aliment
        p Welcome to Aliment Food Bank Management


    div.centered
        p
            h4 {{demoModeMessage}}